*,
::after,
::before
  box-sizing: border-box;

body
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  color: white
  background: blue
  margin: 0
  padding: 20px
  text-align: center
  display: flex
  align-items: center
  justify-content: center
  min-height: 100vh
  h1
    color: yellow
    margin: 0
    padding: 0